# Dependencies
node_modules

# Local Netlify folder
.netlify

# Logs
logs
*.log

# Distribution directories
dist
build
public

# Cache Files
.cache

# Lock files
yarn.lock
package-lock.json
# ignore any lock file other than main lock file
!/yarn.lock

# Misc files
.DS_Store

# Environment variables
.env
.env.build
.env.development
.env.production