# Dependencies
node_modules

# Local Netlify folder
.netlify

# Logs
logs
*.log

# Distribution directories
dist
build
public

# Cache Files
.cache

# Lock files
# ignore any lock file other than main lock file
!/package-lock.json

# Misc files
.DS_Store

# Environment variables
.env
.env.build
.env.development
.env.production