{
	"processors": [
    	"stylelint-processor-styled-components"
  	],
  	"extends": [
    	"stylelint-config-styled-components"
  	],
  	"rules": {
		"color-no-invalid-hex": true,
		"property-no-unknown": true,
		"keyframe-declaration-no-important": true,
		"block-no-empty": true,
		"selector-pseudo-class-no-unknown": true,
		"selector-pseudo-element-no-unknown": true,
		"comment-no-empty": true,
		"no-extra-semicolons": true,
		"shorthand-property-no-redundant-values": true,
		"max-nesting-depth": 3,
		"color-hex-length": "long",
		"color-hex-case": "upper",
		"font-weight-notation": "numeric",
		"unit-case": "lower",
		"property-case": "lower",
		"selector-type-case": "lower",
		"max-empty-lines": 2,
  	}
}
